<div style="margin:50px">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="actionWithChildren">
    <th mat-header-cell *matHeaderCellDef> Versions with children </th>
    <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn" 
       aria-label="show versions" (click)=version(element)>
       <mat-icon>low_priority</mat-icon>
    </button> </td>
  </ng-container>

  <ng-container matColumnDef="actionWithoutChildren">
    <th mat-header-cell *matHeaderCellDef> Versions without children </th>
    <td mat-cell *matCellDef="let element"> <button mat-icon-button color="sucess"
       aria-label="show versions" (click)=versionWithoutchildren(element)>
      <mat-icon>history</mat-icon>
    </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
</div>
