table {
    width: 100%;
  }
.nested-tables {
  text-align: center;
  border: solid 1px black;
  margin:20px;
  table,td,tr {
    border: solid 1px black;
  }
}
th.mat-header-cell {
  text-align: center;
  width: 20px
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  text-align: -webkit-center;
}
