<div style="margin:50px">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> version </th>
        <td mat-cell *matCellDef="let element"> {{element.version}} </td>
      </ng-container>
  
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> author </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>
  
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> createdAt </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
      </ng-container>
  
      
  
      <ng-container matColumnDef="entity">
        <th mat-header-cell *matHeaderCellDef> entity </th>
        <td mat-cell *matCellDef="let element"> {{element.entity | json}} </td>
      </ng-container>
  
      
  
      <!-- <ng-container matColumnDef="isCurrentVersion">
        <th mat-header-cell *matHeaderCellDef> isCurrentVersion </th>
        <td mat-cell *matCellDef="let element"> {{element.isCurrentVersion}} </td>
      </ng-container> -->
  
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  