<div style="margin:50px">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> password </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef> profile </th>
      <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
    </ng-container>

    <ng-container matColumnDef="actionWithChildren">
      <th mat-header-cell *matHeaderCellDef> Versions with children </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn" 
         aria-label="show versions" (click)=version(element)>
         <mat-icon>low_priority</mat-icon>
      </button> </td>
    </ng-container>
  
    <ng-container matColumnDef="actionWithoutChildren">
      <th mat-header-cell *matHeaderCellDef> Versions without children </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn" 
         aria-label="show versions" (click)=versionWithoutchildren(element)>
        <mat-icon>low_priority</mat-icon>
      </button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
