.sidenav_container {
  min-width: 60px;
}

.col-over_hid {
  overflow: hidden;

  .mat-nav-list {
    padding-top: 24px;
  }
}

.mat-drawer-container{
  background-color: #eee !important;
}

.main-content {
  padding-top: 90px;
  width:100%;
}

.modal-card {
  overflow: hidden;

  .card-header {
    background: #269a2b;
  }

  .card-title {
    color: white;
    font-size: 1.5rem !important;
  }

  .mat-raised-button.mat-primary {
    color: white;
  }

  .mat-raised-button {
    margin-left: 10px;
  }
}

.mat-dialog-container {
  padding: 0px !important;
}

.card_title {
  font-size: 1.5rem;
}
